[submodule "salinger-theme"]
	path = salinger-theme
	url = https://github.com/EliseCM/salinger-theme
[submodule "themes/salinger"]
	path = themes/salinger
	url = https://github.com/jacksalici/salinger-theme.git
